<!DOCTYPE html>
<html lang="en">
<head>
<title>Upload File</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script type="text/javascript" src="/static/js/vue.js"></script>


</head>
<body>
<!--
<form enctype="multipart/form-data" name="fileUploadForm" v-on:submit.prevent="uploadFile">
  <input type="file" name="myFile" />
  <input type="submit" />
</form>
-->

<div id="app">
  {{ message }}
</div>
<script type="text/javascript" src="/static/js/uploadvue.js"></script>
</body>
</html>
